In [1]:
import pandas as pd
df = pd.read_csv('../Data/ScoreSight_ML_Season_LeagueWinner_Champion.csv')
df.head()

,season,team,matches_played,wins,draws,losses,points_per_game,goals_scored,goals_conceded,goal_difference,target_total_points,target_league_position,target_champion,target_top_4,target_top_6,target_relegated
0,2015-16,Bournemouth,38,11,9,18,1.105263,45.0,67.0,-22.0,42,15,0,0,0,0
1,2015-16,Norwich,38,9,7,22,0.894737,39.0,67.0,-28.0,34,19,0,0,0,1
2,2015-16,Man United,38,19,9,10,1.736842,49.0,35.0,14.0,66,4,0,1,1,0
3,2015-16,Chelsea,38,12,14,12,1.315789,59.0,53.0,6.0,50,10,0,0,0,0
4,2015-16,Everton,38,11,14,13,1.236842,59.0,55.0,4.0,47,11,0,0,0,0

In [2]:
columns_to_drop = ['target_total_points', 'target_league_position', 'target_champion', 'target_top_4', 'target_top_6', 'target_relegated']
df = df.drop(columns=columns_to_drop)
df.head()

,season,team,matches_played,wins,draws,losses,points_per_game,goals_scored,goals_conceded,goal_difference
0,2015-16,Bournemouth,38,11,9,18,1.105263,45.0,67.0,-22.0
1,2015-16,Norwich,38,9,7,22,0.894737,39.0,67.0,-28.0
2,2015-16,Man United,38,19,9,10,1.736842,49.0,35.0,14.0
3,2015-16,Chelsea,38,12,14,12,1.315789,59.0,53.0,6.0
4,2015-16,Everton,38,11,14,13,1.236842,59.0,55.0,4.0